/* custom.css */

.alt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.alt img {
    flex: 1;
    margin-top: 20px;
    /* margin-bottom: 50px; */
    margin-right: 50px;
    margin-left: 20px;
    transform: scale(1.18);
    width: 100%;
    max-width: 300px;
}

.alt div {
    flex: 2;
}

@media screen and (max-width: 480px) {
    .alt {
        flex-direction: column;
    }

    .alt img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}